@using CampusCRM.MVC.Models

@model TeacherModel

@{
    var action = ViewData["Action"];
    ViewData["Title"] = $"{action} teacher";
}
<div class="content">
    <h1 class="content__header">@action teacher</h1>
    <div class="">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                @using (Html.BeginForm($"{action}", "Teachers", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.Id)

                    <div class="mb-3 row">
                        <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" asp-for="Name" required />
                            <span class="alert-danger"> @Html.ValidationMessageFor(model => model.Name)</span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Surname" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" asp-for="Surname" required />
                            <span class="alert-danger"> @Html.ValidationMessageFor(model => model.Surname)</span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Age" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" asp-for="Age" required />
                            <span class="alert-danger"> @Html.ValidationMessageFor(model => model.Age)</span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Info" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" asp-for="Info" required />
                            <span class="alert-danger"> @Html.ValidationMessageFor(model => model.Info)</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">@action teacher</button>
                }
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div> 
