@using CampusCRM.MVC.Models

@model StudentModel

@{
    var action = ViewData["Action"];
    ViewData["Title"] = $"{action} student";
}
<div class="content">
    <h1>@action student</h1>
    <div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                @using (Html.BeginForm($"{action}", "Students", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.Id)

                    <div class="mb-3 row">
                        <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" asp-for="Name" required/>
                            <span class="alert-danger"> @Html.ValidationMessageFor(model => model.Name)</span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Surname" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" asp-for="Surname" required/>
                            <span class="alert-danger"> @Html.ValidationMessageFor(model => model.Surname)</span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="Age" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" asp-for="Age" required/>
                            <span class="alert-danger"> @Html.ValidationMessageFor(model => model.Age)</span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="GroupId" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <select class="form-control" asp-for="GroupId" required>
                                @if (ViewBag.Groups != null)
                                {
                                    foreach (var group in (List<GroupModel>)ViewBag.Groups)
                                    {
                                        if (Model != null && group.Id == Model.GroupId)
                                        {
                                            <option value="@group.Id" selected>@group.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@group.Id">@group.Name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">@action student</button>
                }
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>