@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model List<StudentModel>
@{ ViewData["Title"] = "Students"; }
<table class="table text-center table-striped">
    <thead class="bg-info">
    <tr>
        <th scope="col" class="text-light">Name</th>
        <th scope="col" class="text-light">Surname</th>
        <th scope="col" class="text-light">Age</th>
        <th scope="col" class="text-light">Group</th>
        <th scope="col" class="text-light"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var student in Model)
    {
        <tr>
            <th scope="col">@student.Name</th>
            <th scope="col">@student.Surname</th>
            <th scope="col">@student.Age</th>
            <th scope="col">@student.Group.Name</th>
            @if ((await AuthorizationService.AuthorizeAsync(User, "ManageAndDevDepart")).Succeeded)
            {
                <th scope="col">
                    <a class="btn btn-success" asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-danger" asp-controller="Students" asp-action="Delete" asp-route-id="@student.Id">Delete</a>
                    }
                </th>
            }
        </tr>
    }
    </tbody>
</table>
@if (User.IsInRole("Admin"))
{
    <a class="btn btn-primary" asp-controller="Students" asp-action="Add">Add new student</a>
}